<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
      data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Выпадающий список
    </a>
    <ul id="categories" class="animation dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
      <li><a class="dropdown-item" href="#">Действие</a></li>
      <li class="dropend"><a class="dropdown-item submenu" href="#">Другое действие</a></li>
      <ul class="dropdown-menu">
        <li class="dropend"><a class="dropdown-item submenu" href="#">Другое действие</a></li>
      </ul>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
    </ul>
  </li>