{% load static %}
<nav class="footer navbar bg-dark fixed-bottom p-0 m-0">
    <div class="container p-0">
        <div id="top-col" class="row align-items-center justify-content-center row-cols-3 py-5 m-0">
            <div class="col-auto fs-1">
                <i class="bi bi-envelope-open"></i>
            </div>
            <div class="col-auto">
                <div class="fs-5 fw-bold">Подписаться на рассылку</div>
                <div class="fs-6">Для получения новостей и акций</div>
            </div>
            <div class="col-lg-4 col-auto">
                <form class="d-flex align-items-center ">
                    <input class="form-control email-send" type="email" placeholder="email" aria-label="email">
                    <button class="btn btn-outline-success button-send" type="submit">отправить</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center text-white-50 mt-4 mx-2 row-cols-5 g-5">
            <div class="col-auto">
                <h5>Каталог</h5>
                <ul class="navbar-nav">
                    <li><a class="b nav-link" href="#">Смартфоны</a></li>
                    <li><a class="b nav-link" href="#">Телефоны</a></li>
                    <li><a class="b nav-link" href="#">Ноутбуки</a></li>
                    <li><a class="b nav-link" href="#">Планшеты</a></li>
                    <li><a class="b nav-link" href="#">Умные часы</a></li>
                    <li><a class="b nav-link" href="#">Аксессуары</a></li>
                    <li><a class="b nav-link" href="#">Портативная акустика</a></li>
                    <li><a class="b nav-link" href="#">Подарочная упаковка</a></li>
                <ul>
            </div>
            <div class="col-auto">
                <h5>О компании</h5>
                <ul class="navbar-nav">
                    <li><a class="b nav-link" href="#">Акции</a></li>
                    <li><a class="b nav-link" href="#">Новости</a></li>
                    <li><a class="b nav-link" href="#">Задать вопрос</a></li>
                    <li><a class="b nav-link" href="#">Контакты</a></li>
                    <li><a class="b nav-link" href="#">Карьера</a></li>
                    <li><a class="b nav-link" href="#">Франчайзинг</a></li>
                    <li><a class="b nav-link" href="#">Ищем поставщиков</a></li>
                    <li><a class="b nav-link" href="#">О нас</a></li>
                </ul>
            </div>
            <div class="col-auto">
                <h5>Покупателям</h5>
                <ul class="navbar-nav">
                    <li><a class="b nav-link" href="#">Оплата и доставка</a></li>
                    <li><a class="b nav-link" href="#">Гарантия</a></li>
                    <li><a class="b nav-link" href="#">Возврат и обмен</a></li>
                    <li><a class="b nav-link" href="#">Кредит</a></li>
                    <li><a class="b nav-link" href="#">Отзывы</a></li>
                    <li><a class="b nav-link" href="#">Инструкции</a></li>
                    <li><a class="b nav-link" href="#">Платный ремонт</a></li>
                    <li><a class="b nav-link" href="#">Прошивки для смартфонов</a></li>
                </ul>
            </div>
            <div class="col-2 mx-4"></div>
            <div class="col-auto">
                <div class="row align-items-center justify-content-start row-cols-2 mb-1">
                    <div class="col-auto mb-2">
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="col-auto">
                        <h4>+7-495-905-60-30</h4>
                    </div>
                </div>
                <div class="col-auto mb-4 text-center">
                    <h6>shop@pink-lotus.ru</h6>
                </div>
                <div class="row align-items-center justify-content-center row-cols-2">
                    <div class="col-auto">
                        <h6>Адрес:</h6>
                        <ul class="navbar-nav">
                            <li>г.Москва</li>
                            <li>ул.Калинина д.23а</li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <h6>Расписание:</h6>
                        <ul class="navbar-nav">
                            <li>Пн-Пт 9:00-21:00</li>
                            <li>Сб-Вс 9:00-18:00</li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center justify-content-start row-cols-4 mt-4">
                    <div class="col-auto fs-3">
                        <a class="i-social" href="#"><i class="bi bi-telegram"></i></a>
                    </div>
                    <div class="col-auto fs-5"></div>
                    <div class="col-auto fs-5"></div>
                    <div class="col-auto fs-5"></div>
                </div>
            </div>
        </div>
        <div class="col-auto text-center text-white-50 fs-6 pt-5 mt-5 px-1">
            <p class="fw-light">
                Обращаем ваше внимание на то, что приведённые цены и характеристики товаров носят
                исключительно ознакомительный характер и не являются публичной офертой, определяемой 
                положениями статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной 
                информации о характеристиках товаров, их наличии и стоимости связывайтесь с менеджерами компании.
            </p>
        </div>
        <div class="row justify-content-between row-cols-2 fw-light text-white-50 m-0 mt-5 px-3">
            <div class="col-auto">
                <ul class="navbar-nav">
                    <p class="m-0">LOTUS © 2008–2022</p>
                    <a class="b nav-link" href="">Карта сайта</a>
                </ul>
            </div>
            <div class="col-auto">
                <img src="{% static '/img/like.png' %}" alt="Clip" title="Clip" class="img-responsive">
            </div>
        </div>
    </div>
</nav>