<!doctype html>
<html dir="ltr" lang="ru">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Главная страница</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&subset=cyrillic"
    type='text/css' rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link media="screen" rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</head>

<body class="common-home">
{% block navbar %}{% endblock navbar %}
<nav class="footer navbar navbar-dark bg-dark fixed-bottom p-0 m-0">
  <div class="container p-0">
    <div id="top-col" class="row align-items-center justify-content-center row-cols-3 py-5 m-0">
      <div class="col-auto fs-1">
        <i class="bi bi-envelope-open"></i>
      </div>
      <div class="col-auto">
        <div class="fs-5 fw-bold">Подписаться на рассылку</div>
        <div class="fs-6">Для получения новостей и акций</div>
      </div>
      <div class="col-lg-4 col-auto">
        <form class="d-flex align-items-center ">
          <input class="form-control email-send" type="email" placeholder="email" aria-label="email">
          <button class="btn btn-outline-success button-send" type="submit">отправить</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-between text-white-50 mt-4 mx-2 row-cols-5 g-5">
      <div class="col-auto">
        <h5>Каталог</h5>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="b nav-link" href="#">Смартфоны</a></li>
          <li class="nav-item"><a class="b nav-link" href="#">Телефоны</a></li>
          <li class="nav-item"><a class="b nav-link" href="#">Ноутбуки</a></li>
          <li class="nav-item"><a class="b nav-link" href="#">Планшеты</a></li>
          <li class="nav-item"><a class="b nav-link" href="#">Умные часы</a></li>
          <li class="nav-item"><a class="b nav-link" href="#">Аксессуары</a></li>
          <li><a class="b nav-link" href="#">Портативная акустика</a></li>
          <li><a class="b nav-link" href="#">Подарочная упаковка</a></li>
        <ul>
      </div>
      <div class="col-auto">
        <h5>О компании</h5>
        <ul class="navbar-nav">
          <li><a class="b nav-link" href="#">Акции</a></li>
          <li><a class="b nav-link" href="#">Новости</a></li>
          <li><a class="b nav-link" href="#">Задать вопрос</a></li>
          <li><a class="b nav-link" href="#">Контакты</a></li>
          <li><a class="b nav-link" href="#">Карьера</a></li>
          <li><a class="b nav-link" href="#">Франчайзинг</a></li>
          <li><a class="b nav-link" href="#">Ищем поставщиков</a></li>
          <li><a class="b nav-link" href="#">О нас</a></li>
        </ul> 
      </div>
      <div class="col-auto">
        <h5>Покупателям</h5>
        <ul class="navbar-nav">
          <li><a class="b nav-link" href="#">Оплата и доставка</a></li>
          <li><a class="b nav-link" href="#">Гарантия</a></li>
          <li><a class="b nav-link" href="#">Возврат и обмен</a></li>
          <li><a class="b nav-link" href="#">Кредит</a></li>
          <li><a class="b nav-link" href="#">Отзывы</a></li>
          <li><a class="b nav-link" href="#">Инструкции</a></li>
          <li><a class="b nav-link" href="#">Платный ремонт</a></li>
          <li><a class="b nav-link" href="#">Прошивки для смартфонов</a></li>
        </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-auto">
        <div class="row align-items-center justify-content-start row-cols-2 mb-1">
          <div class="col-auto mb-2">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="col-auto">
            <h4>+7-495-905-60-30</h4>
          </div>
        </div>
        <div class="col-auto mb-4 text-center">
          <h6>shop@pink-lotus.ru</h6>
        </div>
        <div class="row align-items-center justify-content-center row-cols-2">
          <div class="col-auto">
            <h6>Адрес:</h6>
            <ul class="navbar-nav">
              <li>г.Москва</li>
              <li>ул.Калинина д.23а</li>
            </ul>
          </div>
          <div class="col-auto">
            <h6>Расписание:</h6>
            <ul class="navbar-nav">
              <li>Пн-Пт 9:00-21:00</li>
              <li>Сб-Вс 9:00-18:00</li>
            </ul>
          </div>
        </div>
        <div class="row align-items-center justify-content-start row-cols-4 mt-4">
          <div class="col-auto fs-3">
            <a class="i-social" href="#"><i class="bi bi-telegram"></i></a>
          </div>
          <div class="col-auto fs-5"></div>
          <div class="col-auto fs-5"></div>
          <div class="col-auto fs-5"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% include 'include/_categories.html' %}
</body>
</html> 