<!doctype html>
<html dir="ltr" lang="ru">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Главная страница</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"
    crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&subset=cyrillic"
    type='text/css' rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link media="screen" rel="stylesheet" href="{% static 'css/style.css' %}">
  <link media="screen" rel="stylesheet" href="{% static '/css/style color.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</head>
<style>
  /* .parallax {
     The image used 
    background-image: url("{% static '/img/logo.png' %}");

     Full height 
    height: 100%;

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
  /* #banner .card { background: url("{% static '/img/textura-gex.png' %}"); } */
</style>

<body class="common-home" data-bs-spy="scroll" data-bs-target="#list-example">
  {% block navbar %}{% endblock navbar %}
  {% include 'include/_carousel-1.html' %}
  <div id="card-container" class="container">
    <div id="body-card" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example"
      tabindex="0">
      <div class="row d">
        <div class="row">
          <div class="col" id="list-item-1">Католог</div>
        </div>
        <div class="col">
          <div class="product">
            <div class="imgbox"> {% include 'include/_carousel-card.html' %} </div>
            <div class="specifies">
              <h2>Analog Watch <br> <span>Rolex</span></h2>
              <div class="price">$1500</div> <label>Size</label>
              <ul>
                <li>10MM</li>
                <li>20MM</li>
                <li>30MM</li>
                <li>40MM</li>
                <li>50MM</li>
              </ul> <label>Colors</label>
              <ul class="colors">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul> <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product">
            <div class="imgbox"> <img src="https://i.imgur.com/iDwDQ4o.png"> </div>
            <div class="specifies">
              <h2>Analog Watch <br> <span>Rolex</span></h2>
              <div class="price">$1500</div> <label>Size</label>
              <ul>
                <li>10MM</li>
                <li>20MM</li>
                <li>30MM</li>
                <li>40MM</li>
                <li>50MM</li>
              </ul> <label>Colors</label>
              <ul class="colors">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul> <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product">
            <div class="imgbox"> <img src="https://i.imgur.com/iDwDQ4o.png"> </div>
            <div class="specifies">
              <h2>Analog Watch <br> <span>Rolex</span></h2>
              <div class="price">$1500</div> <label>Size</label>
              <ul>
                <li>10MM</li>
                <li>20MM</li>
                <li>30MM</li>
                <li>40MM</li>
                <li>50MM</li>
              </ul> <label>Colors</label>
              <ul class="colors">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul> <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product">
            <div class="imgbox"> <img src="https://i.imgur.com/iDwDQ4o.png"> </div>
            <div class="specifies">
              <h2>Analog Watch <br> <span>Rolex</span></h2>
              <div class="price">$1500</div> <label>Size</label>
              <ul>
                <li>10MM</li>
                <li>20MM</li>
                <li>30MM</li>
                <li>40MM</li>
                <li>50MM</li>
              </ul> <label>Colors</label>
              <ul class="colors">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul> <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'include/_footer.html' %}
  {% include 'include/_categories-1.html' %}
</body>

</html>