<!doctype html>
{% load static %}
<html dir="ltr" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Главная страница</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link type="text/css" media="screen" rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&subset=cyrillic"
    type='text/css' rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link media="screen" rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</head>

<body class="common-home">
  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <nav id="top-nav" class="navbar navbar-expand-lg">
      <div id="top-nav-container" class="container-fluid">
        <button id="button-calendar" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-calendar-week"></span>
        </button>
        <div class="collapse collapse-horizontal navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li id="top-nav-content" class="nav-item">
              <i id="timetable" class="bi bi-calendar-week"> Пн-Пт 9:00-21:00</i>
              <i id="timetable" class="bi bi-calendar-week"> Сб-Вс 9:00-18:00</i>
              <i id="timetable" class="bi bi-calendar-week"> +7-909-663-70-34</i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="bottom-nav" class="container-fluid bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <lu class="nav-item">
        <a id="logo-visible" class="navbar-brand translate-middle" data-bs-toggle="offcanvas">
          <img id="logo" src="{% static '/img/Lotus.png' %}" alt="Clip" title="Clip" class="img-responsive">
        </a>
      </lu>
      <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div id="Nav" class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        </div>
        <div id="Nav" class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu">
                  <form class="px-4 py-3">
                    <div class="mb-3">
                      <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Remember me
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">New around here? Sign up</a>
                  <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ссылка</a>
            </li>
            <li class="nav-item dropdown">
              <a class=" show-drop nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Выпадающий список
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input id="search" class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
            <button id="button-search" class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>