/*----------------------------------Общее------------------------------------------------------------------------------------------*/
/*----------Тело страници----------*/
body                                { background-color:#1b1f22; }
p                                   { color: rgba(255, 255, 255, 0.5); }/*----------txt body----------*/
body::-webkit-scrollbar-track       { background: #212529; }
body::-webkit-scrollbar-thumb       { background-color: #755ec3; border: #755ec3; }
#list-item-1                        { color: #ffffff; }
/*=================================*/
/*----------Кнопки\Меню------------*/
label                               { color: rgba(255, 255, 255, 0.5); }
.btn:hover                          { color: #755ec3; background-color: #212529; border-color: #212529; }
.btn:active                         { color: #fff; background-color: #755ec3; border-color: #755ec3; }
.btn-outline-success                { color: #798389;}
.btn-outline-success:hover          { color: #755ec3; background-color: #212529; border-color: #212529; }
.btn-outline-success:active         { color: #fff; background-color: #755ec3; border-color: #755ec3;  }
.dropdown-item                      { color: rgba(255, 255, 255, 0.5); }
.dropdown-item:focus,
.dropdown-item:hover                { background-color: #755ec3; }
.dropdown-item:active               { background-color: #755ec3; }
.nav-link                           { color: rgb(255, 255, 255); }
.nav-link:hover                     { color: #ffffffbf; background-color: #00000080; }
.nav-link:focus                     { color: #ffffffbf; }
.nav-link::after                    { background-color: #000000; }
.navbar-toggler:focus:active        { background-color: #755ec3; }
/*=================================*/
/*----------Модальные окна---------*/
.modal-header                       { border-color: #403d36; }
.modal-footer                       { border-color: #403d36; }
/*=================================*/
/*=================================================================================================================================*/
/*----------------------------------Навбар-----------------------------------------------------------------------------------------*/
#button-search                      { border-color: #0000008f; background-color: #0000007c; }
#search                             { border-color: #0000008f; background-color: #0000007c; }
#nav                                { background-color: #765ec3d5; }
/*=================================================================================================================================*/
/*----------------------------------Подвал-----------------------------------------------------------------------------------------*/
.footer #top-col                    { background-color: #755ec3; }
.footer h5                          { border-color: #755ec3; }
.footer .bi-telephone-fill          { border-color: #755ec3; }
.i-social                           { color: #755ec3; }
.i-social:hover                     { color: #755ec380; }
.footer .bi-envelope-open           { color: #cdd1d4; }
.button-send                        { border-color: #212529; background-color: #212529; }
.email-send                         { border-color: #e2e2e2; }
/*=================================================================================================================================*/
#service-wrapper                    { background-color: #212529; }
#service-wrapper i                  { color: #212529; background-color: #755ec3; }
#banner .card:before                { background:#755ec35d; }
#banner .card-title, 
#banner .card-text                  { color: #abadaf; }
#banner .card-title.a               { color: #755ec3; }
#banner .card-text.a                { color: #abadaf; }
